# Database Configuration
MONGODB_URI=
MONGODB_DB_NAME=ibad_store

# Atlantic H2H API Gateway Credentials
ATLANTIC_API_KEY=

# Security & Session Secret
SESSION_SECRET=

# AI Gemini API (Optional)
GEMINI_API_KEY=
