@import "tailwindcss";

/* Smooth touch scrolling & custom horizontal carousel scrollbars */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.horizontal-scroll-touch {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
